<!--<div>
  <ul style="list-style-type: none">
    <li *ngFor="let cartItem of cartItems">
      Item:<b>{{cartItem.item.id}}</b>
      <span style="float: right">Qty:<b>{{cartItem.qty}}</b></span>
    </li>
  </ul>
  <button><a routerLink="/order">Checkout</a></button>
</div>-->
<table *ngIf="cartItems.length; else display">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Quantity</th>
  </tr>
  <tr *ngFor="let cartItem of cartItems">
    <td>{{cartItem.item.id}}</td>
    <td>{{cartItem.item.name}}</td>
    <td>{{cartItem.qty}}</td>
  </tr>
</table>
<ng-template #display><b>Your cart is empty</b></ng-template><br>
<button><a routerLink="/order">Checkout</a></button>
